p {
  display: flex;
  justify-content: space-between;
}
.items {
  width: 30%;
  height: 150px;
}
.carousel {
  border: 1px solid;
  font-size: small;
}

.class102 {
  width: 50%;
  text-align: left;
}
.class102 > img {
  width: 100%;
  padding-bottom: 25px;
}
#offers {
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 8px;
  border-radius: 15%;
  color: white;
  background-color: #111;
  border: none;
  font-weight: bold;
}
