.App {
  font-family: "Noto IKEA", "Noto Sans", Roboto, "Open Sans", system-ui,
    sans-serif;
}
p {
  font-size: 14px;
}
a {
  color: "#000000";
}
button {
  font-family: "Noto IKEA", "Noto Sans", Roboto, "Open Sans", system-ui,
    sans-serif;
}
